:root {
    --clr-primary-400: hsl(215, 51%, 70%);
    --clr-secondary-500: hsl(178, 100%, 50%);

    --clr-neutral-800: hsl(217, 54%, 11%);
    --clr-neutral-700: hsl(216, 50%, 16%);
    --clr-neutral-600: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-base: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
*/
body {
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General Styling */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-light);
    font-size: 1.0625rem;
    color: var(--clr-primary-400);
    background-color: var(--clr-neutral-800);
    display: grid;
    place-items: center;
    padding: 0 1.5rem;
}

hr {
    color: var(--clr-neutral-600);
}

/* Utilities */

.flex-group {
    display: flex;
    gap: 1.125rem;
    flex-wrap: wrap;
    align-items: center;
}

/* NFT-Card Styles */

.nft {
    --profile-picture-sizing: 2rem;

    background-color: var(--clr-neutral-700);
    display: grid;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    max-width: 345px;
}

@media (min-width: 400px) {
    .pricing-timing {
        margin-top: 0.5rem;
        margin-bottom: 0.5625rem;
    }

    .creation {
        margin-bottom: 0.375rem;
    }
    
    .nft__img-container:hover .content {
        visibility: visible;
    }
    
    .overlay {
        z-index: 2;
        position: absolute;
        height: 297px;
        width: 297px;
        bottom: 415px;
        border-radius: .5rem;
        transition: .5s ease;
        background: hsla(178, 100%, 50%, 0);
        cursor: pointer;
        vertical-align: bottom;
    }
    
    .nft__img-container:hover .overlay {
        background: hsla(178, 100%, 50%, 0.5);
    }
}

#nft__description {
    line-height: 1.5;
}


.content {
    position: absolute;
    bottom: 40%;
    left: 42%;
    visibility: hidden;
    color: #fff;
}

.nft__img {
    border-radius: .5rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.nft__title {
    color: var(--clr-neutral-100);
    font-size: 1.375rem;
    cursor: pointer;
}

.nft__title:hover {
    color: var(--clr-secondary-500);
}

.nft__price {
    color: var(--clr-secondary-500);
}

.nft__price[data-icon="eth-logo"]::before {
    display: inline-flex;
    content: "";
    width: 11px;
    height: 18px;
    background-image: url("images/icon-ethereum.svg");
    position: relative;
    top: 0.1875rem;
    margin-right: 0.5rem;
}

.nft__time-left {
    margin-left: auto;
}

.nft__time-left[data-icon="clock-symbol"]::before {
    display: inline-flex;
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("images/icon-clock.svg");
    position: relative;
    top: 0.1475rem;
    margin-right: 0.375rem;
}

.nft__creator {
    width: var(--profile-picture-sizing);
    height: var(--profile-picture-sizing);
    border: 1px solid var(--clr-neutral-100);
    border-radius: 1rem;
}

.nft__creator-white-text {
    color: var(--clr-neutral-100);
    cursor: pointer;
}

.nft__creator-white-text:hover {
    color: var(--clr-secondary-500);
}

.creation {
    margin-top: 0.625rem;
}
